.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container > div:not(.navbar) {
  width: var(--space-4xl);
  flex-shrink: 0;
}

.navbar {
  max-width: 32rem;
  width: 100%;
  flex-shrink: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: var(--space-s);
}

.button {
  display: flex;
  gap: var(--space-3xs);
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid transparent;
}