.background {
  margin-bottom: var(--space-s-l);
  background-color: var(--background);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.container > div:not(.navbar) {
  width: var(--space-4xl);
  flex-shrink: 0;
}

.navbar {
  max-width: 28rem;
  width: 100%;
  flex-shrink: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: var(--space-s);
  padding: var(--space-2xs);
  background-color: var(--highlight);
  border-radius: var(--radius-full);
}