.button {
  display: flex;
  gap: var(--space-2xs);
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-full);
  padding: var(--space-xs) var(--space-s) var(--space-xs) 0;
}