/* Labels */

.labels {
  display: flex;
  gap: var(--space-s-l);
  width: 100%;
}

.label {
  display: flex;
  gap: var(--space-s-l);
  width: 50%;
}

.text {
  flex-grow: 1;
  font-weight: 500;
}

.xHeight {
  flex-shrink: 0;
}


/* Samples */

.samplesOuter {
  display: flex;
  align-items: center;
  width: 100%;
}

.samplesMid {
  display: flex;
  align-items: baseline;
  width: 100%;
  font-size: 3rem;
}

.samplesInner {
  display: flex;
  align-items: baseline;
  width: 100%;
  gap: var(--space-s-l);
  height: 4rem;
}

.sample {
  position: relative;
  width: 50%;
  white-space: nowrap;
  color: transparent;
  overflow: hidden;
  height: 4rem;
}

.sampleWrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 40;
}

.sampleText {
  white-space: nowrap;
  color: var(--text);
  z-index: 50;
}

.sampleReference {
  z-index: 30;
}

.sampleLine {
  display: inline-block;
  width: 100%;
  margin: 0;
  border-top: 1px;
}