/* Slider */


.slider {
  display: flex;
  position: relative;
  overflow: hidden;
  flex-grow: 1;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 64rem;
  width: 100%;
}

.slider > aside,
.slider > main {
  transition: transform 0.3s ease-in-out;
}

.slider > aside {
  background-color: var(--background);
  bottom: 0;
  position: fixed;
  top: var(--space-4xl);
  bottom: 0;
  width: 16rem;
  z-index: 200;
}

.slider > aside:first-of-type {
  left: 0;
  transform: translate(-100%);
}

.slider > aside:last-of-type {
  right: 0;
  transform: translate(100%);
}

.slider > main {
  flex: 1;
  width: 100%;
  position: relative;
}

.slider.primary > main {
  transform: translateX(16rem);
}

.slider.primary > aside:first-of-type {
  transform: translateX(0);
}

.slider.secondary > main {
  transform: translateX(-16rem);
}

.slider.secondary > aside:last-of-type {
  transform: translateX(0);
}

.scrollable-container {
  height: 100%;
  overflow: hidden;
}

.scrollable {
  overflow-y: auto;
  height: 100%;
}

.slider-overlay {
  position: absolute;
  z-index: 150;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--background);
  opacity: 0.5;
  display: none;
  overflow: hidden;
}

.slider.primary .slider-overlay,
.slider.secondary .slider-overlay {
  display: flex;
}

.sidebar-open {
  overflow: hidden;
}


/* Desktop */

@media (min-width: 1024px) {

  .slider-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }

  .slider > aside {
    position: absolute;
    top: 0;
  }

  .slider > aside:last-of-type,
  .slider.secondary > aside:last-of-type,
  .slider.primary > aside:first-of-type {
    transform: translateX(0);
  }

  .slider.primary > aside:last-of-type {
    transform: translate(100%);
  }

  .slider > main,
  .slider.secondary > main {
    transform: translateX(0);
    max-width: calc(100% - 16rem);
  }

  .slider.primary > main {
    transform: translateX(16rem);
  }

  .slider.primary .slider-overlay,
  .slider.secondary .slider-overlay {
    display: none;
  }

  .slider .secondary-action,
  .slider.primary .primary-action {
    opacity: 0.25;
    cursor: default;
  }

  .slider.primary .secondary-action {
    opacity: 1;
    cursor: pointer;
  }

  .sidebar-open {
    overflow: auto;
  }

  .desktop-scrollable-container {
    height: 100%;
    overflow: hidden;
  }
  
  .desktop-scrollable {
    overflow-y: auto;
    height: 100%;
  }

}