@import './preflight.css';

/* @link https://utopia.fyi/type/calculator?c=375,16,1.125,1240,18,1.125,8,2,&s=0.75|0.5|0.25,1.5|2|2.5|3|4|6|8,&g=xl,xl,2xl,12 */

:root {

  --primary-font: "aktiv-grotesk", system-ui;
  --accent-font: "DM Mono", monospace;
  --monospace-font: ui-monospace, Menlo, Monaco, monospace;

/*   --white: #FFFFFF;
  --grey-5: #F7F8F8;
  --grey-10: #F3F3F3;
  --grey-15: #E7E8E8;
  --grey-25: #CFD1D1;
  --grey-35: #B7BABA;
  --grey-50: #939797;
  --grey-75: #4B5353;
  --black: #0F1919; */

  --background: #FFFFFF;
  --highlight: #F7F7F8;
  --highlight-overlay: #F2F2F3;
  --border-secondary: #E7E7E9;
  --border-primary: #CECED1;
  --icon-secondary: #B6B6BB;
  --icon: #909098;
  --secondary: #474754;
  --text: #0A0A1B;

  --accent1: #25BE7E;
  --accent2: #72BE9E;

  --active-icon: var(--accent2);

  --radius-full: 9999px;

  --step--2: clamp(0.6914rem, 0.6485rem + 0.1827vw, 0.7901rem);
  --step--1: clamp(0.7778rem, 0.7296rem + 0.2055vw, 0.8889rem);
  --step-0: clamp(0.875rem, 0.8208rem + 0.2312vw, 1rem);
  --step-1: clamp(0.9844rem, 0.9234rem + 0.2601vw, 1.125rem);
  --step-2: clamp(1.1074rem, 1.0388rem + 0.2926vw, 1.2656rem);
  --step-3: clamp(1.2458rem, 1.1687rem + 0.3292vw, 1.4238rem);
  --step-4: clamp(1.4016rem, 1.3148rem + 0.3704vw, 1.6018rem);
  --step-5: clamp(1.5768rem, 1.4791rem + 0.4167vw, 1.802rem);
  --step-6: clamp(1.7739rem, 1.664rem + 0.4687vw, 2.0273rem);
  --step-7: clamp(1.9956rem, 1.872rem + 0.5273vw, 2.2807rem);
  --step-8: clamp(2.2451rem, 2.106rem + 0.5932vw, 2.5658rem);

  --space-3xs: clamp(0.25rem, 0.25rem + 0vw, 0.25rem);
  --space-2xs: clamp(0.4375rem, 0.4104rem + 0.1156vw, 0.5rem);
  --space-xs: clamp(0.6875rem, 0.6604rem + 0.1156vw, 0.75rem);
  --space-s: clamp(0.875rem, 0.8208rem + 0.2312vw, 1rem);
  --space-m: clamp(1.125rem, 1.0708rem + 0.2312vw, 1.25rem);
  --space-l: clamp(1.3125rem, 1.2312rem + 0.3468vw, 1.5rem);
  --space-xl: clamp(1.75rem, 1.6416rem + 0.4624vw, 2rem);
  --space-2xl: clamp(2.1875rem, 2.052rem + 0.578vw, 2.5rem);
  --space-3xl: clamp(2.625rem, 2.4624rem + 0.6936vw, 3rem);
  --space-4xl: clamp(3.5rem, 3.2832rem + 0.9249vw, 4rem);
  --space-5xl: clamp(5.25rem, 4.9249rem + 1.3873vw, 6rem);
  --space-6xl: clamp(7rem, 6.5665rem + 1.8497vw, 8rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.1416rem + 0.4624vw, 0.5rem);
  --space-2xs-xs: clamp(0.4375rem, 0.302rem + 0.578vw, 0.75rem);
  --space-xs-s: clamp(0.6875rem, 0.552rem + 0.578vw, 1rem);
  --space-s-m: clamp(0.875rem, 0.7124rem + 0.6936vw, 1.25rem);
  --space-m-l: clamp(1.125rem, 0.9624rem + 0.6936vw, 1.5rem);
  --space-l-xl: clamp(1.3125rem, 1.0145rem + 1.2717vw, 2rem);
  --space-xl-2xl: clamp(1.75rem, 1.4249rem + 1.3873vw, 2.5rem);
  --space-2xl-3xl: clamp(2.1875rem, 1.8353rem + 1.5029vw, 3rem);
  --space-3xl-4xl: clamp(2.625rem, 2.0289rem + 2.5434vw, 4rem);
  --space-4xl-5xl: clamp(3.5rem, 2.4162rem + 4.6243vw, 6rem);
  --space-5xl-6xl: clamp(5.25rem, 4.0578rem + 5.0867vw, 8rem);

  /* Custom pairs */
  --space-s-l: clamp(0.875rem, 0.604rem + 1.1561vw, 1.5rem);
  --space-s-xl: clamp(0.875rem, 0.3873rem + 2.0809vw, 2rem);
}

html[data-theme="dark"] {
  --background: #0A0A1B;
  --highlight: #141425;
  --highlight-overlay: #141425;
  --border-secondary: #1F1F2E;
  --border-primary: #343442;
  --icon-secondary: #484855;
  --icon: #676772;
  --secondary: #A6A6AD;
  --text: #DADADD;
}


/* Global */

html {
  font-family: var(--primary-font);
  color: var(--text);
}

body {
  position: relative;
}

header {
  position: sticky;
  z-index: 100;
  top: 0;
  max-height: 50vh;
  overflow-y: auto;
}

body,
header {
  background-color: var(--background);
}

.branding {
  border-bottom: 1px solid var(--border-primary);
}

.branding > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.branding > div > svg {
  width: auto;
  height: var(--space-s);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav > div:not(.navbar) {
  width: var(--space-4xl);
  flex-shrink: 0;
}

.navbar {
  max-width: 28rem;
  width: 100%;
  flex-shrink: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: var(--space-s);
  padding: var(--space-2xs);
  background-color: var(--highlight);
  border-radius: var(--radius-full);
}


/* Tables */

th,
td {
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
  vertical-align: middle;
}

th {
  vertical-align: bottom;
}

thead {
  position: sticky;
  top: 0;
  z-index: 75;
  background-color: var(--background);
  border-bottom: 1px solid var(--border-primary);
}

td {
  padding-right: var(--space-s-l);
}

th:first-child,
td:first-child {
  padding-left: var(--space-s);
  width: var(--space-3xl);
}

th:nth-child(2),
td:nth-child(2) {
  width: auto;
}

td:not(:first-child):not(:nth-child(2)) {
  width: var(--space-6xl);
  text-align: right;
}

td:not(:first-child):not(:nth-child(2)) {
  font-family: var(--accent-font);
  color: var(--secondary);
  border-left: 1px solid var(--border-secondary);
}

th:not(:first-child):not(:nth-child(2)),
td:not(:first-child):not(:nth-child(2)) {
  padding-left: var(--space-s);
}

th:not(:first-child):not(:nth-child(2)):not(:nth-child(3)),
td:not(:first-child):not(:nth-child(2)):not(:nth-child(3)) {
  display: none;
}

@media (min-width: 48rem) {
  th:not(:first-child):not(:nth-child(2)):not(:nth-child(3)),
  td:not(:first-child):not(:nth-child(2)):not(:nth-child(3)) {
    display: table-cell;
  }
}

th {
  text-align: left;
  font-weight: 600;
  font-size: var(--step--2);
  letter-spacing: .05em;
  text-transform: uppercase;
  color: var(--secondary);
}

th.active {
  color: var(--primary);
}

tbody > tr:not(:last-child) {
  border-bottom: 1px solid var(--border-secondary);
}

tr.clickable:is(:hover, :focus),
tr.active-row {
  background-color: var(--highlight);
}

th > a {
  position: relative;
  display: block;
}

.table-arrow {
  position: absolute;
  right: 0;
  top: var(--space-3xs);
}

.table-arrow > .icon {
  color: var(--font-secondary);
}

.table-arrow.reverse {
  transform: rotate(180deg);
}


/* Layout Utilities */

.wrap {
  max-width: 64rem;
  width: 100%;
  padding: 0 var(--space-s-xl);
  margin-left: auto;
  margin-right: auto;
}

.insulate {
  padding-top: var(--space-s-l);
  padding-bottom: var(--space-s-l);
}

.clickable {
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}


/* Elements */

.icon {
  width: 0.75em;
  height: 0.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon);
}

.button {
  display: flex;
  gap: var(--space-2xs);
  justify-content: center;
  padding: var(--space-xs) var(--space-s);
  align-items: center;
  border-radius: var(--radius-full);
  font-size: var(--step--1);
  line-height: var(--space-s);
  color: var(--secondary);
}

.button.active {
  background-color: var(--background);
  color: var(--text);
  font-weight: 500;
}

.button.active > .icon {
  color: var(--active-icon);
}

.back-button {
  padding-top: calc(var(--space-xs) + var(--space-2xs));
  padding-bottom: calc(var(--space-xs) + var(--space-2xs));
  padding-left: 0;
}

.cta-button {
  border: 1px solid var(--border-secondary);
  border-radius: 0;
  font-weight: 600;
  font-size: var(--step--2);
  letter-spacing: .05em;
  text-transform: uppercase;
  color: var(--secondary);
}

code {
  display: block;
  white-space: break-spaces;
  width: 100%;
  background-color: var(--highlight-overlay);
  padding: var(--space-xs) var(--space-s);
  font-family: var(--monospace-font);
  font-size: var(--step--1);
  line-height: var(--space-s);
}

.tabs {
  display: flex;

}

.tab {
  border-radius: 0;
  font-weight: 600;
  font-size: var(--step--2);
  letter-spacing: .05em;
  text-transform: uppercase;
  color: var(--secondary);
}

.tab.active {
  background-color: var(--background);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input,
select {
  border: 1px solid var(--border-primary);
  padding: var(--space-xs) var(--space-s);
  font-family: var(--accent-font);
  line-height: var(--space-s);
  vertical-align: middle;
}

[type="checkbox"], 
[type="radio"],
select {
  appearance: auto;
}


/* Pair Screen */

.labels {
  display: flex;
  gap: var(--space-s-l);
  width: 100%;
  margin-bottom: var(--space-s);
}

.label {
  display: flex;
  gap: var(--space-s-l);
  width: 50%;
}

.label > div:first-of-type {
  flex-grow: 1;
}

.label > div:last-of-type {
  flex-shrink: 0;
}

.samplesOuter {
  display: flex;
  align-items: center;
  width: 100%;
}

.samplesMid {
  display: flex;
  align-items: baseline;
  width: 100%;
  font-size: 3rem;
}

.samplesInner {
  display: flex;
  align-items: baseline;
  width: 100%;
  gap: var(--space-s-l);
  height: 4rem;
}

.sample {
  position: relative;
  width: 50%;
  white-space: nowrap;
  color: transparent;
  overflow: hidden;
  height: 4rem;
}

.sampleWrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 40;
}

.sampleText {
  white-space: nowrap;
  color: var(--text);
  z-index: 50;
}

.sampleReference {
  z-index: 30;
}

.sampleLine {
  display: inline-block;
  width: 100%;
  margin: 0;
  border-top: 1px;
}

/* Import Screen */

.embed-wrapper {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: var(--space-s-xl);
}

.embed-wrapper > hr,
.control-panel > hr {
  width: 100%;
  border: 0;
  border-top: 1px solid var(--border-secondary);
}

.embed {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  flex-shrink: 0;
  flex-grow: 0;
}

@media (min-width: 48rem) {
  .embed-wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .embed-wrapper > hr {
    display: none;
  }
}

.embed-details {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
}

.embed-details > code {
  overflow-x: auto;
  white-space: nowrap;
  max-width: 100%;
}

.embed-footer,
.code-header {
  display: flex;
  align-items: center;
}

.embed-footer > a:first-of-type,
.code-header > ul {
  flex-grow: 1;
}

.embed-footer > a:last-of-type,
.code-header > div {
  flex-shrink: 1;
}

.copy-button {
  padding: 0;
}

.code-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  padding: var(--space-s);
  background-color: var(--highlight);
}

.control-panel {
  max-width: 100%;
  width: 100%;
  flex-shrink: 0;
  padding: var(--space-s);
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.control-size {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.control-element {
  display: flex;
  align-items: center;
  gap: var(--space-s);
}

.control-element > .label {
  width: 100%;
  max-width: var(--space-3xl);
  flex-shrink: 0;
}

.control-element > input,
.control-element > select {
  max-width: 7rem;
}

@media (min-width: 48rem) {
  .code-wrapper {
    flex-direction: row;
  }
  
  .control-panel {
    max-width: 33%;
  }
}

.code-panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.code-container {
  display: flex;
  flex-grow: 1;
  padding: var(--space-s);
  background-color: var(--background);
}


/* Typography */

h2 {
  font-weight: 600;
}

.primary-text {
  font-size: var(--step-0);
  line-height: 1.2;
}

.secondary-text {
  font-size: var(--step--1);
  line-height: 1.2;
}

.tertiary-text {
  font-size: var(--step--2);
  line-height: var(--space-s);
}

.label {
  font-weight: 500;
}

.data {
  color: var(--secondary);
  font-family: var(--accent-font);
}

.deweight {
  opacity: 0.8;
}

input:disabled,
.disabled {
  opacity: 0.4;
}