@import './preflight.css';

@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 1000; /* Variable font range */
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DMSans-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 1000; /* Variable font range */
  font-style: italic;
}

/* @link https://utopia.fyi/type/calculator/?c=375,14,1.125,1240,16,1.125,8,3,&s=0.75|0.5|0.25,1.125|1.25|1.5|2|3|4|6|8,s-l|3xl-5xl|s-l&g=xl,xl,2xl,12 */

:root {

  --primary-font: "DM Sans", sans-serif;
  --secondary-font: gelica, sans-serif;;
  --accent-font: "DM Mono", monospace;

  --neutral-0: #FFF;
  --neutral-02: #FAFAFA;
  --neutral-05: #F5F5F5;
  --neutral-10: #E8E8E8;
  --neutral-20: #D1D1D1;
  --neutral-50: #8A8B8B;
  --neutral-80: #454747;
  --neutral-100: #171919;

  --blue-dkr: #23698C;
  --blue-dk: #317EA5;
  --blue: #469dc8;
  --blue-lt: #90C4DE;
  --blue-ltr: #DAEBF4;

  /* Gradient Steps */
  --accent-step-0: var(--blue);
  --accent-step-2: #7884d0;
  --accent-step-4: #9e68c7;
  --accent-step-6: #b850ad;
  --accent-step-8: #c64287;
  --accent-step-10: #c8465c;

  --background: var(--neutral-02);
  --negative: var(--neutral-02);
  --highlight: var(--neutral-0);
  --highlight-hover: var(--neutral-02);
  --scrollbar: var(--neutral-10);
  --border-secondary: var(--neutral-10);
  --border-primary: var(--neutral-20);
  --icon: var(--neutral-50);
  --secondary: var(--neutral-80);
  --secondary-hover: var(--neutral-100);
  --text: var(--neutral-100);

  --accent: var(--blue);
  --accent-text: var(--blue-dk);
  --accent-text-hover: var(--blue-dkr);
  --accent-highlight: var(--blue-ltr);
  
  --outline: 2px solid var(--blue-lt);
  --horizontal-border: 1px solid var(--border-secondary);

  --shadow: rgba(0,0,0,0.05);
  --shadow-dark: rgba(0,0,0,0.1);
  
  --horizontal-shadow: inset 0px -1px 0px 0px var(--shadow);
  --full-shadow: inset 0px 0px 0px 1px var(--shadow);
  --full-shadow-dark: inset 0px 0px 0px 1px var(--shadow-dark);
  --element-radius: 2px;

  --step--4: clamp(0.5463rem, 0.5124rem + 0.1443vw, 0.6243rem);
  --step--3: clamp(0.6145rem, 0.5765rem + 0.1624vw, 0.7023rem);
  --step--2: clamp(0.6914rem, 0.6485rem + 0.1827vw, 0.7901rem);
  --step--1: clamp(0.7778rem, 0.7296rem + 0.2055vw, 0.8889rem);
  --step-0: clamp(0.875rem, 0.8208rem + 0.2312vw, 1rem);
  --step-1: clamp(0.9844rem, 0.9234rem + 0.2601vw, 1.125rem);
  --step-2: clamp(1.1074rem, 1.0388rem + 0.2926vw, 1.2656rem);
  --step-3: clamp(1.2458rem, 1.1687rem + 0.3292vw, 1.4238rem);
  --step-4: clamp(1.4016rem, 1.3148rem + 0.3704vw, 1.6018rem);
  --step-5: clamp(1.5768rem, 1.4791rem + 0.4167vw, 1.802rem);
  --step-6: clamp(1.7739rem, 1.664rem + 0.4687vw, 2.0273rem);
  --step-7: clamp(1.9956rem, 1.872rem + 0.5273vw, 2.2807rem);
  --step-8: clamp(2.2451rem, 2.106rem + 0.5932vw, 2.5658rem);

  --space-3xs: clamp(0.25rem, 0.25rem + 0vw, 0.25rem);
  --space-2xs: clamp(0.4375rem, 0.4104rem + 0.1156vw, 0.5rem);
  --space-xs: clamp(0.6875rem, 0.6604rem + 0.1156vw, 0.75rem);
  --space-s: clamp(0.875rem, 0.8208rem + 0.2312vw, 1rem);
  --space-m: clamp(1.125rem, 1.0708rem + 0.2312vw, 1.25rem);
  --space-l: clamp(1.3125rem, 1.2312rem + 0.3468vw, 1.5rem);
  --space-xl: clamp(1.75rem, 1.6416rem + 0.4624vw, 2rem);
  --space-2xl: clamp(2.1875rem, 2.052rem + 0.578vw, 2.5rem);
  --space-3xl: clamp(2.625rem, 2.4624rem + 0.6936vw, 3rem);
  --space-4xl: clamp(3.5rem, 3.2832rem + 0.9249vw, 4rem);
  --space-5xl: clamp(5.25rem, 4.9249rem + 1.3873vw, 6rem);
  --space-6xl: clamp(7rem, 6.5665rem + 1.8497vw, 8rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.1416rem + 0.4624vw, 0.5rem);
  --space-2xs-xs: clamp(0.4375rem, 0.302rem + 0.578vw, 0.75rem);
  --space-xs-s: clamp(0.6875rem, 0.552rem + 0.578vw, 1rem);
  --space-s-m: clamp(0.875rem, 0.7124rem + 0.6936vw, 1.25rem);
  --space-m-l: clamp(1.125rem, 0.9624rem + 0.6936vw, 1.5rem);
  --space-l-xl: clamp(1.3125rem, 1.0145rem + 1.2717vw, 2rem);
  --space-xl-2xl: clamp(1.75rem, 1.4249rem + 1.3873vw, 2.5rem);
  --space-2xl-3xl: clamp(2.1875rem, 1.8353rem + 1.5029vw, 3rem);
  --space-3xl-4xl: clamp(2.625rem, 2.0289rem + 2.5434vw, 4rem);
  --space-4xl-5xl: clamp(3.5rem, 2.4162rem + 4.6243vw, 6rem);
  --space-5xl-6xl: clamp(5.25rem, 4.0578rem + 5.0867vw, 8rem);

  /* Custom pairs */
  --space-s-l: clamp(0.875rem, 0.604rem + 1.1561vw, 1.5rem);

  /* Transitions */
  --transition-background: background-color 0.2s ease-out;
  --transition-color: color 0.2s ease-out;
}

[data-theme="dark"] {
  --neutral-0: #191919;
  --neutral-02: #1E1E1E;
  --neutral-05: #252525;
  --neutral-10: #303030;
  --neutral-20: #474747;
  --neutral-50: #8C8C8C;
  --neutral-80: #D1D1D1;
  --neutral-100: #FFF;

  --shadow: rgba(255,255,255,0.05);
  --shadow-dark: rgba(255,255,255,0.1);

  --background: var(--neutral-0);
  --highlight: var(--neutral-02);
  --highlight-hover: var(--neutral-05);
  --negative: var(--neutral-100);

  --blue-dkr: #7AB8D7;
  --blue-dk: #59A6CD;
  --blue-lt: #335F75;
  --blue-ltr: #1E2529;
}


/* Global */

html,
body {
  color: var(--text);
  font-family: var(--primary-font);
  background-color: var(--background);
  position: relative;
  font-variant-numeric: tabular-nums;
}

*:focus {
  outline: var(--outline);
}

.focus-padding {
  padding: 2px;
}

.disable-transitions * {
  transition: none !important;
}


/* Layout Utilities */

.wrap {
  margin-right: auto;
  margin-left: auto;
  max-width: 64rem;
  padding: 0 var(--space-s-l);
  width: 100%;
}

.insulate {
  padding-top: var(--space-s-l);
  padding-bottom: var(--space-s-l);
}

.insulate-3xl {
  padding-top: var(--space-2xl-3xl);
  padding-bottom: var(--space-2xl-3xl);
}

.with-sidebar {
  display: flex;
  flex-wrap: wrap;
}

.sidebar {
  flex-grow: 1;
}

.not-sidebar {
  flex-basis: 0;
  flex-grow: 999;
}

[class*="stack"] {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
}

[class*="cluster"] {
  display: flex;
  flex-wrap: wrap;
  gap: 0 var(--space-xs);
}

[class*="grid"] {
  display: grid;
  gap: var(--space-s);
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}

.stack-3xl {
  gap: var(--space-3xl);
}

.stack-l {
  gap: var(--space-l);
}

.grid-xl {
  gap: var(--space-xl);
}

.columns-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.clickable {
  cursor: pointer;
  user-select: none;
}

.unselectable {
  user-select: none;
}

.horizontal-scroll {
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}


/* Buttons */

button {
  appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  user-select: none;
}

.button {
  align-items: center;
  background-color: var(--highlight);
  border: 0;
  border-radius: var(--element-radius);
  box-shadow: var(--full-shadow);
  display: flex;
  justify-content: center;
  padding: var(--space-2xs) var(--space-xs);
  transition: var(--transition-background), var(--transition-color);
  user-select: none;
}

.button-label {
  line-height: var(--space-s);
  padding-top: 1px;
}

.button:hover {
  background-color: var(--highlight-hover);
}

.button-icon {
  gap: calc(var(--space-xs) * 0.4);
  padding-left: calc(var(--space-xs) * 0.6);
}

.button-icon-reverse {
  flex-direction: row-reverse;
  padding-left: var(--space-xs);
  padding-right: calc(var(--space-xs) * 0.6);
}

.button > .icon {
  color: var(--accent);
  height: var(--space-xs);
  width: var(--space-xs);
}

.button-large {
  padding: var(--space-xs) var(--space-s);
  line-height: var(--space-s);
}

.button-large > .icon {
  height: var(--space-s);
  width: var(--space-s);
}

header .button {
  box-shadow: var(--full-shadow-dark);
}


/* Header */

header {
  background-color: var(--highlight);
  box-shadow: var(--horizontal-shadow);
  padding-top: var(--space-xs);
  padding-bottom: var(--space-xs);
  position: sticky;
  top: 0;
  z-index: 300;
}

footer {
  border-top: var(--horizontal-border);
  bottom: 0;
  background-color: var(--background);
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
  position: sticky;
  z-index: 100;
}


/* Horitzonal Rules */

hr {
  border: 0;
  margin: 0;
  border-top: var(--horizontal-border);
  width: 100%;
}


/* Inputs */

select {
  background-color: var(--highlight);
  background-image: url('/select-arrow.svg');
  background-repeat: no-repeat;
  background-position: center right var(--space-3xs);
  background-size: var(--space-xs) var(--space-xs);
  border: 0;
  border-radius: var(--element-radius);
  box-shadow: var(--full-shadow);
  line-height: var(--space-s);
  padding: var(--space-2xs) var(--space-l) var(--space-2xs) var(--space-xs);
  position: relative;
  transition: var(--transition-background), var(--transition-color);
  user-select: none;
}

select:hover{
  background-color: var(--highlight-hover);
}


/* Icons */

.logo {
  align-items: center;
  display: flex;
}

.logo > svg:first-of-type {
  border-radius: 9999px;
  height: var(--space-xl);
  width: auto;
}

.logo > svg:last-of-type {
  height: var(--step--1);
  width: auto;
}

.icon {
  align-items: center;
  color: var(--icon);
  display: flex;
  height: var(--space-s);
  justify-content: center;
  width: var(--space-s);
}


/* List */

.list-item {
  align-items: baseline;
  border-radius: var(--element-radius);
  color: var(--secondary);
  display: flex;
  line-height: var(--space-l);
  min-height: var(--space-2xl);
  padding: var(--space-2xs) var(--space-xs);
  transition: var(--transition-background), var(--transition-color);
}

.list-item:hover,
.list-item.active-item {
  background-color: var(--accent-highlight);
}

.list-item-label {
  line-height: var(--step--1);
}

.list-item-data {
  display: inline-block;
  padding-left: var(--space-3xs);
}


/* Samples */

.sample {
  position: relative;
}

.sample-wrapper {
  height: var(--space-6xl);
}

.sample-wrapper button::after {
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 60;
}

.sample-header {
  align-items: center;
  display: flex;
  gap: var(--space-s);
  height: var(--space-3xl);
  justify-content: space-between;
}

.sample-header:first-child {
  flex-grow: 1;
  overflow: hidden;
}

.sample-header:last-child {
  flex-shrink: 0;
}

.sample-align {
  align-items: baseline;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

.sample-leader {
  width: 0;
  overflow: hidden;
}

.sample-text {
  position: relative;
  width: 100%;
}

.sample-line,
.sample-display-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.sample-display-text {
  z-index: 50;
}

.sample-line {
  z-index: 40;
}

.sample-reference {
  z-index: 30;
}

.sample-guide-text {
  opacity: 0;
}

.sample-line > hr {
  display: inline-block;
  border-top: 1.5px solid var(--border-primary);
}

.sample-reference > hr {
  border-color: var(--accent-step-10);
}

.sample-xline > hr {
  border-color: var(--accent-step-0);
}


/* Scrollbar */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: none;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border-radius: 4px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar) transparent;
}


/* Test */

.test-title {
  max-width: 40ch;
}

.test-paragraph {
  max-width: 65ch;
}


/* X Height */

[data-step="0"] {
  --xheight-accent: var(--accent-step-0);
}

[data-step="2"] {
  --xheight-accent: var(--accent-step-2);
}

[data-step="4"] {
  --xheight-accent: var(--accent-step-4);
}

[data-step="6"] {
  --xheight-accent: var(--accent-step-6);
}

[data-step="8"] {
  --xheight-accent: var(--accent-step-8);
}

[data-step="10"] {
  --xheight-accent: var(--accent-step-10);
}

.xheight {
  align-items: center;
  background-color: var(--xheight-accent);
  border-radius: 9999px;
  box-shadow: var(--full-shadow);
  display: flex;
  flex-shrink: 0;
  height: var(--space-3xl);
  justify-content: center;
  width: var(--space-3xl);
}

.xheight-content {
  align-items: start;
  color: var(--negative);
  display: flex;
  font-family: var(--secondary-font);
  font-size: var(--step-2);
  font-weight: 700;
  gap: 0px;
  padding-top: 1px;
  padding-left: 1px;
}

.xheight-percentage {
  opacity: 0.8;
  font-size: var(--step--3);
  padding-top: 3px;
}


/* Typography */

.base-font {
  font-size: var(--step--1);
  font-family: var(--primary-font);
}

.heading {
  font-size: var(--step--2);
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

p > a {
  text-decoration: underline;
}

p > a:hover {
  text-decoration: none;
}

.slub {
  color: var(--secondary);
  font-size: var(--step--3);
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.caption {
  color: var(--secondary);
  font-size: var(--step--2);
  line-height: 125%;
  transition: var(--transition-color);
  font-feature-settings: "ss03" 1;
}

a.caption:hover,
button.caption:hover {
  color: var(--secondary-hover);
}

.data {
  font-size: var(--step--3);
  font-family: var(--accent-font);
  font-weight: 500;
  opacity: 0.8;
}

.accent-text {
  color: var(--accent-text);
  font-weight: 800;
}

a.accent-text:hover {
  color: var(--accent-text-hover);
}