@import './preflight.css';

:root {

  --primary-font: "SF Pro", "Helvetica Neue", "Inter", Helvetica, Arial, sans-serif;
  --secondary-font: "Cardo", sans-serif;
  --accent-font: "SF Pro", "Helvetica Neue", "Inter", Helvetica, Arial, sans-serif;

  --white: #FCFBF9;
  --smoke: #F2ECE8;
  --stone: #E6E1DD;
  --grey: #CCC7C2;
  --slate: #76736F;
  --charcoal: #575551;
  --black: #222120;

  --blue-light: #CFE7EB;
  --blue: #64B7C8;
  --blue-dark: #44666C;

  --mint-light: #C8E9DD;
  --mint: #4CBF9A;
  --mint-dark: #426c5d;

  --fern-light: #D0E6CF;
  --fern: #66B46C;
  --fern-dark: #4c684d;

  --olive-light: #D9E1C1;
  --olive: #85A43D;
  --olive-dark: #58623f;

  --mustard-light: #E2DBB3;
  --mustard: #A4900E;
  --mustard-dark: #655a36;

  --orange-light: #EBD3AF;
  --orange: #C37500;
  --orange-dark: #6f5234;
  
  --red-light: #F3C8B9;
  --red: #DC5021;
  --red-dark: #77493a;

  --crimson: #A5270E;

  --background: var(--white);
  --negative: var(--white);
  --xheight: var(--white);
  --highlight: var(--smoke);
  --scrollbar: var(--stone);
  --border: var(--grey);
  --icon: var(--blue);
  --tertiary-text: var(--slate);
  --secondary-text: var(--charcoal);
  --text: var(--black);
  --branding: var(--crimson);

  --accent: var(--blue);
  --accent-text: var(--blue-dark);
  --accent-background: var(--blue-light);
  
  --outline: 2px solid var(--blue-light);
  --primary-border: 1px solid var(--border);
  
  --radius: 2px;

  --letter-spacing: 0.05em;

  --step--4: clamp(0.5463rem, 0.5124rem + 0.1443vw, 0.6243rem);
  --step--3: clamp(0.6145rem, 0.5765rem + 0.1624vw, 0.7023rem);
  --step--2: clamp(0.6914rem, 0.6485rem + 0.1827vw, 0.7901rem);
  --step--1: clamp(0.7778rem, 0.7296rem + 0.2055vw, 0.8889rem);
  --step-0: clamp(0.875rem, 0.8208rem + 0.2312vw, 1rem);
  --step-1: clamp(0.9844rem, 0.9234rem + 0.2601vw, 1.125rem);
  --step-2: clamp(1.1074rem, 1.0388rem + 0.2926vw, 1.2656rem);
  --step-3: clamp(1.2458rem, 1.1687rem + 0.3292vw, 1.4238rem);
  --step-4: clamp(1.4016rem, 1.3148rem + 0.3704vw, 1.6018rem);
  --step-5: clamp(1.5768rem, 1.4791rem + 0.4167vw, 1.802rem);
  --step-6: clamp(1.7739rem, 1.664rem + 0.4687vw, 2.0273rem);
  --step-7: clamp(1.9956rem, 1.872rem + 0.5273vw, 2.2807rem);
  --step-8: clamp(2.2451rem, 2.106rem + 0.5932vw, 2.5658rem);

  --space-3xs: clamp(0.25rem, 0.25rem + 0vw, 0.25rem);
  --space-2xs: clamp(0.4375rem, 0.4104rem + 0.1156vw, 0.5rem);
  --space-xs: clamp(0.6875rem, 0.6604rem + 0.1156vw, 0.75rem);
  --space-s: clamp(0.875rem, 0.8208rem + 0.2312vw, 1rem);
  --space-m: clamp(1.125rem, 1.0708rem + 0.2312vw, 1.25rem);
  --space-l: clamp(1.3125rem, 1.2312rem + 0.3468vw, 1.5rem);
  --space-xl: clamp(1.75rem, 1.6416rem + 0.4624vw, 2rem);
  --space-2xl: clamp(2.1875rem, 2.052rem + 0.578vw, 2.5rem);
  --space-3xl: clamp(2.625rem, 2.4624rem + 0.6936vw, 3rem);
  --space-4xl: clamp(3.5rem, 3.2832rem + 0.9249vw, 4rem);
  --space-5xl: clamp(5.25rem, 4.9249rem + 1.3873vw, 6rem);
  --space-6xl: clamp(7rem, 6.5665rem + 1.8497vw, 8rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.1416rem + 0.4624vw, 0.5rem);
  --space-2xs-xs: clamp(0.4375rem, 0.302rem + 0.578vw, 0.75rem);
  --space-xs-s: clamp(0.6875rem, 0.552rem + 0.578vw, 1rem);
  --space-s-m: clamp(0.875rem, 0.7124rem + 0.6936vw, 1.25rem);
  --space-m-l: clamp(1.125rem, 0.9624rem + 0.6936vw, 1.5rem);
  --space-l-xl: clamp(1.3125rem, 1.0145rem + 1.2717vw, 2rem);
  --space-xl-2xl: clamp(1.75rem, 1.4249rem + 1.3873vw, 2.5rem);
  --space-2xl-3xl: clamp(2.1875rem, 1.8353rem + 1.5029vw, 3rem);
  --space-3xl-4xl: clamp(2.625rem, 2.0289rem + 2.5434vw, 4rem);
  --space-4xl-5xl: clamp(3.5rem, 2.4162rem + 4.6243vw, 6rem);
  --space-5xl-6xl: clamp(5.25rem, 4.0578rem + 5.0867vw, 8rem);

  /* Custom pairs */
  --space-s-l: clamp(0.875rem, 0.604rem + 1.1561vw, 1.5rem);

  /* Transitions */
  --ease-out-quad: cubic-bezier(0.250,0.460,0.450,0.940);

  --transition-background: background-color .3s var(--ease-out-quad);
  --transition-color: color .3s var(--ease-out-quad);
  --transition-opacity: opacity .2s var(--ease-out-quad);
  --transition-underline: text-underline-offset .3s var(--ease-out-quad);
  --transition-transform: transform .3s var(--ease-out-quad);
  --transition-all: all .3s var(--ease-out-quad);
}

[data-theme="dark"] {

  --white: #0F0F0D;
  --smoke: #272625;
  --stone: #333230;
  --grey: #3E3C3A;
  --slate: #B5B2AE;
  --charcoal: #CDCAC5;
  --black: #E5E2DC;

  --blue-dark: #78A0A7;
  --blue: #42747D;
  --blue-light: #203132;

  --mint-dark: #1B3229;
  --mint: #347962;
  --mint-light: #78A798;

  --fern-dark: #203020;
  --fern: #437246;
  --fern-light: #7F9F82;

  --olive-dark: #272D16;
  --olive: #56682A;
  --olive-light: #8A966F;

  --mustard-dark: #2D290D;
  --mustard: #685C0D;
  --mustard-light: #968B62;

  --orange-dark: #33230A;
  --orange: #7B4C05;
  --orange-light: #A17E5D;
  
  --red-dark: #381C11;
  --red: #8A3619;
  --red-light: #A77261;

  --branding: var(--black);

}

/*
 * Composition 
 */

/* Global */

html,
body {
  background-color: var(--background);
  position: relative;
  color: var(--text);
  font-family: var(--primary-font);
  font-variant-numeric: tabular-nums;
}

*:focus-visible {
  outline: var(--outline);
}

p {
  max-width: 65ch;
  font-size: var(--step--1);
}

a {
  color: var(--accent-text);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  transition: var(--transition-underline), var(--transition-color);
}

a:hover,
a:focus-visible {
  text-underline-offset: 2.5px;
}

strong {
  font-weight: 600;
}

figcaption {
  font-size: var(--step--2);
  color: var(--secondary-text);
}

figure {
  max-width: 32rem;
  margin: 0px auto;
  padding-top: var(--space-s-l);
  padding-bottom: var(--space-s-l);
}

hr {
  border: 0;
  margin: 0;
  border-top: var(--primary-border);
  width: 100%;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: none;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border-radius: 4px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar) transparent;
}


/* Layout */

.main,
.aside {
  padding-top: var(--space-2xl-3xl);
  padding-bottom: var(--space-2xl-3xl);
}

.aside-container {
  position: relative;
}

.main {
  transform: translateX(0%);
  transition: var(--transition-transform);
}

.aside {
  bottom: var(--space-3xl);
  height: auto;
  max-width: 18.75rem;
  padding-left: var(--space-s-l);
  padding-right: var(--space-s-l);
  position: fixed;
  right: 0;
  top: var(--space-4xl);
  transform: translateX(100%);
  transition: var(--transition-transform);
  width: 100%;
  z-index: 200;
}

.app-container {
  padding-bottom: var(--space-3xl);
}

.close-button {
  width: 100%;
}

@media (min-width: 1024px) {

  .app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }
  
  .aside-container {
    display: flex;
  }

  .aside {
    position: static;
    flex-shrink: 0;
    height: 100%;
    transform: translateX(0);
  }
  
  .main {
    flex-grow: 1;
    width: 100%;
    position: relative;
    transform: translateX(0);
    transition: var(--transition-transform);
  }

  .button.change-fonts,
  .close-button {
    display: none;
  }
}


/* Flow */

.center {
  margin-right: auto;
  margin-left: auto;
  max-width: 64rem;
  width: 100%
}

.wrap {
  margin-right: auto;
  margin-left: auto;
  max-width: 64rem;
  padding-left: var(--space-s-l);
  padding-right: var(--space-s-l);
  width: 100%;
}

.with-sidebar {
  display: flex;
  flex-wrap: wrap;
}

.sidebar {
  flex-grow: 1;
}

.not-sidebar {
  flex-basis: 0;
  flex-grow: 999;
}

[class*="stack"] {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
}

[class*="cluster"] {
  display: flex;
  flex-wrap: wrap;
  gap: 0 var(--space-xs);
}

.align-center {
  align-items: center;
}

[class*="grid"] {
  display: grid;
  gap: var(--space-s);
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}

.stack-3xs {
  gap: var(--space-3xs);
}

.stack-2xs {
  gap: var(--space-2xs);
}

.stack-xl {
  gap: var(--space-xl);
}

.stack-3xl {
  gap: var(--space-3xl);
}

.stack-l {
  gap: var(--space-l);
}

.grid-xl {
  gap: var(--space-xl);
}

.columns-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.imposter-outer-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.imposter-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1500;
  padding: var(--space-l);
}

.imposter {
  background-color: var(--smoke);
  padding: var(--space-2xl);
  max-width: 48rem;
  max-height: 90vh;
  overflow-y: auto;
  border-radius: var(--radius);
}

.imposter .button {
  margin-right: auto;
  margin-left: auto;
}

.imposter-overlay {
  position: absolute;
  z-index: 1250;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--background);
  opacity: 0.75;
  overflow: hidden;
}

.icon {
  align-items: center;
  color: var(--icon);
  display: flex;
  height: var(--space-s);
  justify-content: center;
  width: var(--space-s);
}


/*
 * Utilities
 */

/* Layout */

.scrollable-container {
  height: 100%;
  overflow: hidden;
}

.scrollable {
  overflow-y: auto;
  height: 100%;
}

.focus-padding {
  padding: 2px;
}

/* Interaction */

.clickable {
  cursor: pointer;
  user-select: none;
}

.unselectable {
  user-select: none;
}


/* Typography */

.slub {
  font-size: var(--step--2);
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1.25;
  text-transform: uppercase;
}

.primary-text {
  font-size: var(--step--1);
}

.secondary-text {
  font-size: var(--step--2);
}

.tertiary-text {
  font-size: var(--step--3);
}

.accent-text {
  font-family: var(--accent-font);
}

.accent-tertiary-text {
  font-size: var(--step--3);
}


/* Colour */

.secondary {
  color: var(--secondary-text);
  transition: var(--transition-color);
}

a.secondary:hover,
a.secondary:focus-visible,
button.secondary:hover,
button.secondary:focus-visible,
select.secondary:hover,
select.secondary:focus-visible,
.secondary a:hover,
.secondary a:focus-visible,
.secondary button:hover,
.secondary button:focus-visible,
.secondary select:hover,
.secondary select:focus-visible {
  color: var(--text);
}

.tertiary {
  color: var(--tertiary-text);
  transition: var(--transition-color);
}

a.tertiary:hover,
a.tertiary:focus-visible,
button.tertiary:hover,
button.tertiary:focus-visible,
select.tertiary:hover,
select.tertiary:focus-visible,
.tertiary a:hover,
.tertiary a:focus-visible,
.tertiary button:hover,
.tertiary button:focus-visible,
.tertiary select:hover,
.tertiary select:focus-visible {
  color: var(--secondary-text);
}

.accent {
  color: var(--accent-text);
}

.bg-background {
  background-color: var(--background);
}


/* Accessibility */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}


/* State */

.scroll-lock,
.help-lock {
  overflow: hidden;
}

.is-sidebar-open .aside {
  transform: translateX(0);
}

.is-sidebar-open .aside-overlay {
  display: block;
}

.is-sidebar-open .main {
  transform: translateX(-18.75rem);
}

@media (min-width: 1024px) {

  .is-sidebar-open .aside-overlay {
    display: none;
  }
  
  .is-sidebar-open .main {
    transform: translateX(0);
  }

}


/*
 * Block 
 */

/* Header */

header {
  border-bottom: var(--primary-border);
  padding-top: var(--space-xs);
  padding-bottom: var(--space-xs);
  position: sticky;
  top: 0;
  z-index: 300;
}


/* Footer */

footer {
  border-top: var(--primary-border);
  bottom: 0px;
  left: 0px;
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
  position: fixed;
  transition: var(--transition-color);
  right: 0px;
  z-index: 300;
}


/* Buttons */

button {
  appearance: none;
  background-color: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  padding: 0;
  user-select: none;
}

.button {
  border: var(--primary-border);
  border-radius: var(--radius);
  cursor: pointer;
  padding-left: var(--space-s);
  padding-right: var(--space-s);
  text-decoration: none;
}

.button,
.button-icon {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: var(--space-xs);
  padding-bottom: var(--space-xs);
  transition: var(--transition-background), var(--transition-color);
}

.button.active {
  cursor: default;
}

.button:hover,
.button:focus-visible {
  background-color: var(--highlight);
}

.imposter .button:hover,
.imposter .button:focus-visible {
  background-color: var(--stone);
}

.button-accent {
  border-color: var(--accent-background);
  color: var(--accent-text);
}

.button-accent.active {
  background-color: var(--accent-background);
  color: var(--accent-text);
}

.button-group {
  display: flex;
}

.button-group > .button {
  flex-basis: 0;
  flex-grow: 999;
  border-radius: 0;
}

.button-group > .button:first-child {
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}

.button-group > .button:last-child {
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.button-group > .button:not(:last-child) {
  border-right-width: 0;
}

button .icon {
  transition: transform .3s var(--ease-out-quad);
}

.is-toggled .icon {
  transform: rotate(180deg);
}


/* Logo */

.logo {
  align-items: center;
  color: var(--branding);
  user-select: none;
}

.logo > h1 {
  padding-top: 1px;
}

.logo > svg  {
  width: var(--space-m);
}


/* Select */

select {
  background-color: transparent;
  background-image: url('/select-arrow.svg');
  background-repeat: no-repeat;
  background-position: center right var(--space-3xs);
  background-size: var(--space-s) var(--space-s);
  border: 0;
  border-bottom: var(--primary-border);
  line-height: var(--space-s);
  padding: var(--space-2xs) var(--space-xl) var(--space-2xs) 0;
  position: relative;
  transition: var(--transition-background), var(--transition-color);
  user-select: none;
  width: 6rem;
  transition: var(--transition-all);
}

select:hover,
select:focus-visible {
  border-bottom-color: var(--accent);
}


/* List Item */

.list-item {
  align-items: baseline;
  border-radius: var(--radius);
  color: var(--secondary-text);
  display: flex;
  line-height: var(--space-l);
  min-height: var(--space-2xl);
  padding: var(--space-2xs) var(--space-xs);
  position: relative;
  transition: var(--transition-background), var(--transition-color);
}

.list-item-secondary {
  padding-right: var(--space-l);
}

.list-item:hover,
.list-item.active-item {
  background-color: var(--highlight);
  color: var(--text);
}

.list-item-label {
  line-height: var(--step--1);
}

.list-item-data {
  display: inline-block;
  font-family: var(--primary-font);
  font-size: var(--step--3);
  font-weight: 400;
  opacity: 0.8;
  padding-left: var(--space-3xs);
}

.list-item-lock,
.list-item-unlock {
  position: absolute;
  right: 4px;
  opacity: 0;
  color: var(--accent);
  top: calc(50% - 10px);
  transition: var(--transition-opacity), var(--transition-color);
}

.list-item.active-item:hover .list-item-lock,
.list-item.active-item:focus-visible .list-item-lock {
  opacity: 1;
}

.list-item.is-locked .list-item-lock {
  opacity: 1;
  color: inherit;
}

.list-item.is-locked:hover .list-item-lock,
.list-item.is-locked:focus-visible .list-item-lock {
  opacity: 0;
}

.list-item.is-locked:hover .list-item-unlock,
.list-item.is-locked:focus-visible .list-item-unlock {
  opacity: 1;
}




/* Samples */

.sample {
  height: var(--space-6xl);
}

.sample-label {
  align-items: center;
  display: flex;
  gap: var(--space-s);
  height: var(--space-3xl);
  justify-content: space-between;
}

.sample-align {
  align-items: baseline;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

.sample-leader {
  width: 0;
  overflow: hidden;
}

.sample-text {
  position: relative;
  width: 100%;
}

.sample-label-text {
  padding-right: var(--space-3xs);
}

.sample-line,
.sample-display-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.sample-display-text {
  z-index: 50;
}

.sample-line {
  z-index: 40;
}

.sample-reference {
  z-index: 30;
}

.sample-guide-text {
  opacity: 0;
}

.sample-line > hr {
  display: inline-block;
  border-top: 1.5px solid var(--blue-light);
}

.sample-reference > hr {
  border-color: var(--red);
}

.sample-xline > hr {
  border-color: var(--mint);
}


/* Aside Overlay */

.aside-overlay {
  position: absolute;
  z-index: 150;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--background);
  opacity: 0.8;
  display: none;
  overflow: hidden;
}


/* X Height */

[data-step="0"] {
  --xheight-accent: var(--mint-light);
  --xheight-color: var(--mint-dark);
}

[data-step="2"] {
  --xheight-accent: var(--fern-light);
  --xheight-color: var(--fern-dark);
}

[data-step="4"] {
  --xheight-accent: var(--olive-light);
  --xheight-color: var(--olive-dark);
}

[data-step="6"] {
  --xheight-accent: var(--mustard-light);
  --xheight-color: var(--mustard-dark);
}

[data-step="8"] {
  --xheight-accent: var(--orange-light);
  --xheight-color: var(--orange-dark);
}

[data-step="10"] {
  --xheight-accent: var(--red-light);
  --xheight-color: var(--red-dark);
}

.xheight {
  align-items: center;
  background-color: var(--xheight-accent);
  border-radius: 9999px;
  display: flex;
  flex-shrink: 0;
  height: var(--space-3xl);
  justify-content: center;
  width: var(--space-3xl);
}

.xheight-content {
  align-items: center;
  color: var(--xheight-color);
  display: flex;
  font-family: var(--secondary-font);
  font-size: var(--step-2);
  font-weight: 700;
  gap: 0px;
  padding-top: 1px;
  padding-left: 1px;
}

.xheight-percentage {
  font-size: var(--step--3);
}


/*
 * Exception
 */

.disable-transitions * {
  transition: none !important;
}