.container {
  display: flex;
  gap: var(--space-m);
}

.searchContainer {
  position: relative;
  flex-grow: 0;
  width: 100%;
}

.selectContainer {
  position: relative;
  flex-shrink: 0;
  width: var(--space-6xl);
}

.searchIcon,
.resetIcon,
.selectIcon {
  position: absolute;
  top: calc(var(--space-xs) + 1px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--space-s);
  width: var(--space-s);
}

.searchIcon {
  left: var(--space-2xs);
}

.resetIcon,
.selectIcon {
  right: var(--space-2xs);
}